@charset "utf-8";

body {font-family:"맑은 고딕",Malgun Gothic, Nanum Gothic,"나눔 고딕","돋움", Dotum, "굴림",  Gulim, sans-serif;}
h1, h2, h3, h4, h5, h6, form, input, ul, li, dl, dt, dd, p {margin:0; padding:0;}

a {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}
a:visited {text-decoration:none;}
a:focus {text-decoration:none; outline:none; }
ul, li, dl, dt, dd { list-style:none;}

.MAT0 {margin-top:0px !important;}
.MAT5 {margin-top:5px !important;}
.MAT10 {margin-top:10px !important;}
.MAT15 {margin-top:15px !important;}
.MAT20 {margin-top:20px !important;}
.MAT30 {margin-top:30px !important;}
.MAT35 {margin-top:35px !important;}
.MAT40 {margin-top:40px !important;}

.MAR20 {margin-right:18px !important;}

.AlignCenter {text-align:center !important;}
.MAR0 {margin:0px !important;}
.PAD0 {padding:0px !important;}
.textbold{font-weight:bold;}

.ClearBoth { clear:both; }

/*ms input x표시 제거*/
input::-ms-clear {display: none;}

.font-style {font-family:"돋움", Dotum, "굴림",  Gulim, ,"Verdana" !important; }

html{background:#f0f1f6;}
body{background:#f0f1f6;}


/*드래그*/
::selection {background:#40b25d; color:#FFF; text-shadow:none;}
::-moz-selection {background:#40b25d; color:#FFF; text-shadow:none;}
::-webkit-selection {background:#40b25d; color: #FFF; text-shadow: none;}

	/*공지사항 버튼*/
.notice_btn {display:inline-block; background:#727272; font-weight:bold; border:1px #646464 solid; padding:10px 20px; color:#fff; margin-bottom:3px;}
.notice_btn i.fa{font-size:18px; position:relative; vertical-align:middle;}

/*//////////////////////////////////////////공통//////////////////////////////////////////*/

	/*상단*/
	#header {position:fixed; float:left; width:100%; height:60px;  min-width:980px; z-index:999; background:#40b25d;   }
	#header h1 {text-align:center; position:absolute; top:0px; width:100%; height:60px; font-size:20px; line-height:60px; color:#fff; z-index:1;}
	#header h1 i.title{ vertical-align:middle; font-size:17px;}
	#header h1 a{color:#fff;}
	#header h1 span.box_position{position:relative; line-height:0px; font-size:0px;}
	/*#header p#logo{float:left; line-height:12px; padding:14px 0 0 10px;  font-family:"Verdana"; font-size:18px; font-style:italic; color:#e7f6f2; font-weight:bold; background:#33934b; width:240px;  height:60px; }
	#header p#logo strong{font-size:22px; color:#afe3bd; }
	#header p#logo span{font-size:10px; font-weight:normal; letter-spacing:-1px; font-style:normal;}*/

	/*#header p#logo{float:left; display:table-cell; vertical-align:middle;  text-align:center; padding:0 10px 0 10px; font-size:16px; color:#e7f6f2; font-weight:bold; background:#33934b; width:240px;  height:60px; font-family:"나눔고딕","맑은고딕", }*/
	#header #logo{display:table-cell; vertical-align:middle;  text-align:center; padding:0 10px 0 10px;  color:#e7f6f2; font-weight:bold; background:#33934b; width:240px;  height:60px; position:relative; z-index:2; }
	#header #logo a{display:block; color:#e7f6f2; }



	/*사이트이동*/
	#header .my_service{position:absolute; left:-180px; top:24px;  width:250px;  display:none; background:#f3f4f3; border-left:1px #dcdcdc solid; border-right:1px #dcdcdc solid; border-bottom:2px #ececec solid; border-top:0px;}
	#header .my_service span.arrow{color:#f3f4f3; position:absolute; top:-7px; left:45%; font-size:20px;line-height:16px; }

	#header .my_service ul{float:left; width:100%; }
	#header .my_service ul li{float:left; width:100%;  line-height:40px; font-size:13px; text-align:left;  border-bottom:1px #dcdcdc solid; font-weight:normal;}
	#header .my_service ul li a{display:block; padding:0 0 0 15px; border-bottom:1px #fafafa solid; color:#555;}
	#header .my_service ul li a:hover{text-decoration:underline;}
	#header .my_service ul li.first{border:0px;}
	#header .my_service ul li.first a{border:0px;} 



	/*모바일 버튼메뉴*/
	.menu_btn {display:none; z-index:2;}

	/*컨텐츠틀*/
	#container{position:relative; float:left; width:100%; min-width:980px; margin-top:60px; }

	/*유저박스*/
	.user_box {float:left; width:100%;background:#f4f4f4; position:relative; }
	.user_box p.user_icon {position:absolute;left:10px; top:15px; width:50px; height:50px; background:url(./images/user_face.png) left top no-repeat;}

	/* 다자녀 로그인 */
	#left_menu .link_login_box { width:86%; margin:0 5px 10px 10px; padding:0px; border:1px solid #DDDDDD; border-radius:3px; }
	#left_menu .link_login_box .title { border-bottom:1px solid #DDDDDD; background:#F0F1F6; padding:5px; height:30px; margin:2px 2px; text-align:center; font-weight:bold; }
	#left_menu .link_login_box .title span { float:left; }
	#left_menu .link_login_box .title a { float:right; border-bottom:1px dashed; font-size:90%; }
	#left_menu .link_login_box .list { padding:5px 5px 5px 10px; color:#333333; }
	#left_menu .link_login_box .list li { padding:3px 5px; }
	#left_menu .link_login_box .list a { font-size:90%; margin:5px; padding:2px 5px; border:1px solid #DDDDDD; border-radius:3px; background:; }

	/*회원정보*/
	dl.user{padding:0 0 10px 70px;color:#ececec; min-height:78px; /*border-bottom:1px #bebebe dashed;*/ }
	dl.user a{color:#fff; }
	dl.user span{padding:0 0 0 7px; position:relative; font-family:"Verdana";}
	dl.user span a i.fa-bell{position:relative; z-index:1; color:#555;}
	dl.user span i.num{position:absolute; color:#fff; left:16px;text-align:center; background:#cb5f5f; border-radius:18px; width:18px; line-height:18px; height:18px; font-size:11px; font-weight:normal;}
	dl.user dt{width:100%; padding:15px 0 3px 0; line-height:160%; color:#3d3d3d;}
	dl.user dt strong{font-size:11px; font-weight:normal; background:#c0bba0; color:#fff; border:1px #999370 solid; padding:2px 3px 1px 3px; position:relative;  top:-1px; cursor:pointer;}
	dl.user dt strong i.fa{font-size:12px; }

	dl.user dd{display:inline;width:50%; padding:0 4px 0 0; letter-spacing:-1px;  }
	dl.user dd a{color:#7d7d7d;}
	.user_box p.more {position:absolute; top:8px; right:35px;  color:#fff; z-index:1;text-align:center; line-height:180%;  cursor:pointer; font-size:20px; }



	/*연수현황*/
	dl.user_info {float:left; width:100%; background:#fff; padding:2px 0 8px 0;  border-bottom:1px #ddd solid; }
	dl.user_info dt.title{position:relative; width:100%; padding:8px 0 8px 30px; font-size:16px; font-weight:bold; color:#319426;  background:#f9f9f9; border-bottom:1px #ddd solid; margin:0 0 8px 0;}
	dl.user_info dt.title i.ico-calendar2 {position:absolute; top:11px; left:10px;}
	dl.user_info dt{display:inline-block; width:50%; padding:0 0 2px 40px; margin:0 0 5px 0; font-weight:normal; font-size:0.9em; background:url(./images/user_dot.jpg) 14px top no-repeat;  }
	dl.user_info dd{display:inline-block; width:40%;  padding:0 0 2px 0; margin:0 0 5px 0; font-size:0.9em;}
	dl.user_info dd .t01{color:#f69a24}
	dl.user_info dd .t02{color:#20bd65;}

	/*홈,등록버튼
	.main_btn{width:100%; height:45px; color:#fff; text-align:center; line-height:45px; font-weight:bold; position:relative;}
	.main_btn i.fa{position:absolute; left:13px; top:15px }
	.main_btn a{color:#fff; display:block;}
	.main_btn a:hover{text-decoration:underline;}
	.main_btn .btn01{float:left; height:45px;width:50%; background:#34ae95; position:relative; }
	.main_btn .btn01 i.fa{left:20px}
	.main_btn .btn02{float:left;  height:45px;width:50%; background:#4791d2;  position:relative; }*/


	/*홈,등록버튼*/
	.main_btn{width:100%; height:45px; color:#fff;  position:relative;}
	.main_btn li{float:left; width:50%; height:45px; line-height:45px;text-align:center; font-weight:bold; }
	.main_btn li a{color:#fff; display:block;}
	.main_btn li a:hover{text-decoration:underline;}
	.main_btn li i.fa{margin:0 4px 0 0; font-size:17px; position:relative; top:1px;}
	.main_btn li.btn01{background:#34ae95; }
	.main_btn li.btn02{background:#dd7075;}



	/*레프트메뉴*/
	#left_menu{position:fixed; width:240px;  height:100%;  background:#f4f4f4; z-index:3;  overflow:hidden; overflow-y:auto;  border-right:1px #dddddd solid;}
	#left_menu ul.parent{width:100%;  padding-bottom:180px; overflow:hidden; overflow-y:auto;}
	#left_menu ul.parent li { width:100%; clear:both; border-bottom:1px #dddddd solid; line-height:40px; position:relative; }
	
	#left_menu ul.parent li.admin a{ display:block; color:#787878; }
	#left_menu ul.parent li.admin a:hover{color:#40b25d; }

	#left_menu ul.parent li a{ display:block; color:#787878; }
	#left_menu ul.parent li a:hover{color:#40b25d;}
	#left_menu ul.parent li a.on{color:#40b25d;}
	#left_menu ul.parent li strong{font-weight:normal; font-size:15px;}
	#left_menu ul.parent li span.fa{position:absolute; right:10px; top:18px; font-weight:normal; font-size:11px;}
	#left_menu ul.parent li i.fa{font-size:20px; margin:0 10px 0 0; width:45px; text-align:center; border-right:1px #dddddd solid; line-height:45px;}
	#left_menu ul.parent li ul.depth{display:block;}
	#left_menu ul.parent li ul.depth li{border-top:1px #dddddd solid; line-height:28px; border-bottom:0px #dddddd solid; background:#e9e9e9; }
	#left_menu ul.parent li ul.depth li i.fa{line-height:33px; text-indent:-99999px;}




	/*컨텐츠틀*/
	#contents_box{position:relative; margin:0 0 0 240px;  z-index:1; }
	#contents_title{width:100%;  margin:0 0 15px 0; padding:18px 0 0 2%; height:80px; background:#fff; border-bottom:1px #dddddd solid; line-height:20px; font-size:20px; color:#666666; font-weight:600;  }
	#contents_title i.fa{color:#40b25d; font-size:20px;}
	#contents_title span.title{ font-size:13px; color:#a6a6a6; font-weight:normal; }

	#contents{ width:96%;margin:2%;}


	/*연수등록버튼*/	
	.write_yun{display:none;}




	.panel_main {
		overflow:hidden;
		position:relative;
	  margin-bottom: 20px;
	  background-color: #ffffff;
	  border: 0px solid transparent;
	  border-radius: 4px;
	  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
			  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	}
	.panel-default_main {padding:0 0 40px 0; bordeR:1px #dddddd solid;}
	.panel-default_main > .panel-heading {background:#f9f9f9; color:#767676;  margin:0 0 10px 0; bordeR-bottom:1px #dddddd solid; }

	.panel-default_main1 {padding:0 0 40px 0; bordeR:1px #dddddd solid;}
	.panel-default_main1 > .panel-heading {background:#f9f9f9; color:#767676;  margin:0 0 10px 0; bordeR-bottom:1px #dddddd solid; }

	/*컨텐츠 감싸기*/
	.panel-default {padding:0 0 40px 0; bordeR:1px #dddddd solid;}
	.panel-default > .panel-heading {background:#f9f9f9; color:#767676;  margin:0 0 10px 0; bordeR-bottom:1px #dddddd solid; }


	/*테이블1*/
	.panel-body {margin:0px auto; width:97%; padding:10px 0 10px 0;}
	.panel-search0 {margin:20px auto; display:block;  width:97%; padding:15px 5px 15px 5px; background:#f8f8f8; border:1px #dddddd solid;  vertical-align:top;}
	.panel-search {margin:20px auto; display:block;  width:97%; padding:15px 5px 15px 5px; background:#f8f8f8; border:1px #dddddd solid;  vertical-align:top;}
	.panel-body  p i{color:#19bb9b;}
	.font-12 {font-size:12px;}

	/*카피라이트*/
	#footer{clear:both; width:100%; text-align:center; padding:30px 0 30px 0;  font-style:normal;font-size:11px; color:#7E756B; font-family:"Verdana";  }
	#footer a{color:#7E756B; }
	#footer span.copyright_name{font-weight:bold; }
	#footer span.copyright_name strong{color:#f7931d;}

	/*이수,미이수 구분*/
	.isu_status_0 {display:inline-block; width:45px; height:25px; line-height:25px;  font-size:12px; background:#e2e2e2; color:#555; vertical-align:middle;}/*선택안함*/
	.isu_status_1 {display:inline-block; width:45px; height:25px; line-height:25px;  font-size:12px; background:#d9534f; color:#fff; vertical-align:middle;}/*이수*/
	.isu_status_2 {display:inline-block; width:45px; height:25px; line-height:25px;  font-size:12px; background:#999999; color:#fff; vertical-align:middle;}/*미이수*/

	.isu_check_box {position:relative; }
	.isu_check{display:inline-block;   font-size:11px; width:20px; height:25px; vertical-align:middle; background:#787878; color:#fff;border:1px #646464 solid;  position:relative;}
	.isu_check i.fa{line-height:25px; color:#fff;  position:absolute; left:5px; }

	.isu_check_on{display:inline-block;  font-size:11px; width:20px; height:25px; vertical-align:middle; background:#787878; color:#fff;border:1px #646464 solid; position:relative; }
	.isu_check_on i.fa{line-height:25px; color:#fff;  position:absolute;left:5px; }

	.isu_choice {position:absolute;  width:65px;background:#787878; left:-45px; top:20px; text-align:left;  z-index:999999;  display:none;}
	.isu_choice li{float:left; width:100%; font-size:11px; border-bottom:1px #646464 solid;}
	.isu_choice li a{color:#fff !important; display:block; border-bottom:1px #828282 solid; padding:0 0 0 6px; height:30px; line-height:30px;}
	.isu_choice li a:hover{background:#646464;}
	.isu_choice li.last a{border-bottom:0px #828282 solid;}
	.isu_choice li.last {border-bottom:0px #828282 solid;}



	/*연수목록 테이블*/
	table.table{color:#585858 !important;}
	table.table td a{color:#585858;}
	table.table td {color:#585858;}
	table.sm_table {border:1px #ddd solid;} 
	table.sm_table th, td {padding:4px !important;} 
	table.list {border:1px #ddd solid; background:#fff} 
	table.list th, td {padding:8px !important; border-right:1px #ddd solid !important;} 


	.sm_table td.subject{min-width:230px;}
	table.sm_table .text-success{font-weight:600;}

	/*.sm_table td .span04{width:65px;}*/


	table.table_table th,td{border:1px #ddd solid;}

	/*연수목록 테이블 모바일때 tr간격주기위해 만듬*/
	.line{display:none;}


	/*로딩바*/
	.ajaxLoading{position:absolute; z-index:1000;top:-5px;  left:-5px; display:none; text-align:center;}
	.ajaxLoading1{position:absolute; z-index:1000;top:12px;  left:15px; display:none; text-align:center;}


	/*테이블 체크박스 라디오크기*/
	table.table input[type="checkbox"],input[type="radio"] {margin:-1px 1px 0 0 !important; vertical-align:middle; }
	table.table label {margin:0 4px 0 0 !important; }

	/*메인체크박스*/
	.icheckbox_square  {display: inline-block;
		*display: inline;
		vertical-align: middle;
		margin: 0;
		padding: 0;
		width: 22px;
		height: 22px;
		border: none;
		cursor: pointer;
	}

	.table-hover_sm > tbody > tr:hover > td,
	.table-hover_sm > tbody > tr:hover > th {background-color: #f5f5f5;}

	/* 일괄입력 iframe */
	#input_iframe {
		border:1px solid #CCCCCC;
	}

	/* { SMS */
	span.sms_res_date { border:1px solid #EB9316; background: #ED9C29; border-radius:3px; padding:0 3px; color:#FFF; }
	span.sms_tel { border:1px solid #2D6CA2; background: #3B80BC; border-radius:3px; padding:0 3px; color:#FFF; }
	span.sms_hp { border:1px solid #EB9316; background: #ED9C29; border-radius:3px; padding:0 3px; color:#FFF; }
	/* } */

/*//////////////////////////////////////////공통//////////////////////////////////////////*/



/*//////////////////////////////////////////메인팝업//////////////////////////////////////////*/
#notice_modal .modal-dialog .modal-content{float:left; width:100%; border-radius:0px; padding:0 0 0 0; }
#notice_modal .modal-dialog .modal-content h3 {float:left; width:100%; height:170px; padding:15% 0 0 53%; background:#324d5b url(./images/notice_modal_bg.png) left bottom no-repeat; color:#fff; font-size:35px;}
#notice_modal .modal-dialog .modal-content h3 i.fa{color:#dd3e3e; vertical-align:middle;}
#notice_modal .modal-dialog .modal-content ul {float:left; width:90%; margin:20px 5% 0 5%; padding:0 0 20px 0; }
#notice_modal .modal-dialog .modal-content ul li{float:left; width:100%; line-height:28px;}
#notice_modal .modal-dialog .modal-content ul li a strong{float:left; }
#notice_modal .modal-dialog .modal-content ul li a strong.noti_0 {color:#e53232; padding-right:5px; }
#notice_modal .modal-dialog .modal-content ul li a strong.noti_1 {color:#6b9511; padding-right:5px; }
#notice_modal .modal-dialog .modal-content ul li a{float:left; width:88%;  text-overflow:ellipsis; white-space:nowrap; overflow:hidden;  color:#434343;}
#notice_modal .modal-dialog .modal-content ul li a:hover{text-decoration:underline;}
#notice_modal .modal-dialog .modal-content ul li .day{float:right; }

#notice_modal .modal-dialog .modal-content p.today_close{float:left; width:100%; height:45px; line-height:45px; text-align:center; border-top:1px #ebebeb solid; background:#f3f3f3;}
#notice_modal .modal-dialog .modal-content p.today_close a{color:#646464}

#notice_modal .modal-dialog .modal-content p.modal_close{position:absolute; top:0px; right:0px;}
#notice_modal .modal-dialog .modal-content p.modal_close a{display:block; width:60px; height:59px; background:url(./images/notice_modal_close.png) left top no-repeat;}
/*//////////////////////////////////////////메인팝업//////////////////////////////////////////*/







/*//////////////////////////////////////////탭메뉴//////////////////////////////////////////*/
 ul.tapMenu{margin:0 0 15px 0;}
 ul.tapMenu li{display:inline-block; margin:3px 0 0 0;  }
 ul.tapMenu li a{display:block; background:#f0f0f0; height:40px; line-height:40px; padding:0 15px 0 15px;text-align:center; border:1px #dddddd solid; color:#7b7b7b;}
 ul.tapMenu li a:hover{text-decoration:underline;}
 ul.tapMenu li.on a{background:#4791d2; color:#fff;border:1px #3f82bc solid; }

 ul.tapMenu4{margin:0 0 15px 0;}
 ul.tapMenu4 li{display:inline-block; width:25%; margin:0 8px 0 0;}
 ul.tapMenu4 li a{display:block; background:#fff; height:40px; line-height:40px; text-align:center; border:1px #dddddd solid; color:#7b7b7b;}
 ul.tapMenu4 li a:hover{text-decoration:underline;}
 ul.tapMenu4 li.on a{background:#898989; color:#fff;border:1px #7b7b7b solid; }
 
 ul.tapMenu5{margin:0 0 15px 0;}
 ul.tapMenu5 li{display:inline-block; width:20%; margin:0 8px 0 0;}
 ul.tapMenu5 li a{display:block; background:#fff; height:40px; line-height:40px; text-align:center; border:1px #dddddd solid; color:#7b7b7b;}
 ul.tapMenu5 li a:hover{text-decoration:underline;}
 ul.tapMenu5 li.on a{background:#898989; color:#fff;border:1px #7b7b7b solid; }

 ul.tapMenu6{margin:0 0 15px 0;}
 ul.tapMenu6 li{display:inline-block; width:16.6%; margin:0 8px 0 0;}
 ul.tapMenu6 li a{display:block; background:#fff; height:40px; line-height:40px; text-align:center; border:1px #dddddd solid; color:#7b7b7b;}
 ul.tapMenu6 li a:hover{text-decoration:underline;}
 ul.tapMenu6 li.on a{background:#898989; color:#fff;border:1px #7b7b7b solid; }

 ul.tapMenu7{margin:0 0 15px 0;}
 ul.tapMenu7 li{display:inline-block; width:14.2%; margin:0 8px 0 0;}
 ul.tapMenu7 li a{display:block; background:#fff; height:40px; line-height:40px; text-align:center; border:1px #dddddd solid; color:#7b7b7b;}
 ul.tapMenu7 li a:hover{text-decoration:underline;}
 ul.tapMenu7 li.on a{background:#898989; color:#fff;border:1px #7b7b7b solid; }

/*//////////////////////////////////////////탭메뉴//////////////////////////////////////////*/

/*//////////////////////////////////////////텍스트버튼//////////////////////////////////////////*/

	/*삭제*/
	.delete_btn{font-size:12px; background:#f8f8f8; border:1px #ccc solid; padding:8px;}
	.delete_btn i.fa {padding:0 4px 0 0; font-size:15px;}

	/*검색*/
	.search_btn{font-size:12px; background:#f8f8f8; border:1px #ccc solid; padding:8px;}
	.search_btn i.fa {padding:0 4px 0 0; }

	/*검색*/
	.search_btn1{font-size:12px; background:#f8f8f8; border:1px #ccc solid; padding:5px;}
	.search_btn1 i.fa {padding:0 4px 0 0; }

	/*도움말*/
	.manual_btn { font-size:9pt; border:1px solid #CCCCCC; background: #FFF; border-radius:3px; padding:1px 5px; color:#555555; margin:2px 2px;line-height:140%; display:inline-block }
	.manual_btn .fa-youtube-play { color:#CB5F5F; }
	.manual_btn .txt { color:#555555; }
	

/*//////////////////////////////////////////삭제 텍스트버튼//////////////////////////////////////////*/



/*//////////////////////////////////////////폼 에러메세지//////////////////////////////////////////*/

	form div.error_msg p { color:#f00; padding:4px 0 0px 0; }
	form .help_msg {display:inline-block; padding:0 0 0 10px; color:#505050; }
	
	.error_msg_on {border:1px #f00 solid;}


/*//////////////////////////////////////////폼 에러메세지//////////////////////////////////////////*/





/*//////////////////////////////////////////하단헬프박스//////////////////////////////////////////*/

	.help_box {padding:15px 20px 15px 20px; border-left:4px #e12929 solid; background:#fff; font-size:12px;}
	.help_box ul {padding:0 0 0 5px;}
	.help_box ul li{padding:0 0 5px 0; color:#555; list-style:decimal; list-style:none; padding:0 0 5px 10px; background:url(./images/help_dot.gif) left 7px no-repeat;}
	.help_box ul li.num{padding:0 0 5px 0; color:#555; list-style:decimal;}
/*//////////////////////////////////////////하단헬프박스//////////////////////////////////////////*/

/* { form 안에서 사용되는 border 없는 도움말 */
	.help_box_no {padding:0px 0px; }	
	.help_box_no ul {padding:0 0 0 0px;}
	.help_box_no ul li{padding:0 0 5px 0; color:#555; list-style:decimal; list-style:none; padding:0 0 5px 10px; background:url(./images/help_dot.gif) left 7px no-repeat;}
	.help_box_no ul li.num{padding:0 0 5px 0; color:#555; list-style:decimal;}
/* } */

	/* checkbox 포함 */
	.help_checkbox {padding:0px 0px; }	
	.help_checkbox ul {clear:both; padding:10px 0 0 0px;}
	.help_checkbox ul li { float:left; margin:0; padding:0; color:#555; list-style:none; }
	.help_checkbox ul li.checkbox { float:left; padding:5px 5px 0 0;  }


/*//////////////////////////////////////////폼필수아이콘//////////////////////////////////////////*/

	i.required:before { content: "\f046"; color:#19bb9b;}
	/*i.required:before { content: "\f0a5"; color:#000; font-size:11px !important; font-weight:normal !important; vertical-align:top;}*/

/*//////////////////////////////////////////폼필수아이콘//////////////////////////////////////////*/






/*//////////////////////////////////////////기본테이블//////////////////////////////////////////*/
	table.table {width:97%; margin:1.5% auto; }
	table.table th{background:#f9f9f9; color:#767676;  font-weight:normal; text-align:center; vertical-align:middle !important; }
	table.table th.position{position:relative;  }

	table.table th a{color:#767676;}
	table.table td{color:#828282; vertical-align:middle !important;}
	table.table td img{max-width:100%;}


	table.table td i.icon_btn {font-size:25px; vertical-align:middle; color:#5b5b5b; } /*버튼아이콘 ex(삭제,수정)*/
	table.table td i.icon_btn:hover { color:#19bb9b;}

	table.table td span.label {font-size:11px; font-weight:normal;} /*상태표시 ex(접수, 승인, 취소)*/
	table.table td input {margin:2px 0 2px 0;}

	.contents_over_none:hover {background:none !important;}
	.contents_over_none img {background:#f8f8f8;border: 1px #ddd solid;padding:15px; max-width:100%;}



	.mobile_big_view_btn { display:block; margin-top:3px; margin-bottom:5px;}
	.mobile_big_view_btn a{display:inline-block;color:#555; border:1px #ddd solid; background:#f8f8f8; padding:4px 10px;}

/*//////////////////////////////////////////기본테이블//////////////////////////////////////////*/




/*//////////////////////////////////////////출력순서(sort)//////////////////////////////////////////*/

	#sort_box {float:left; margin:0 0 15px 2%; width:96%; padding:0 0 10px 0; border:1px #ddd solid;background:#fff; position:relative; 
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#sort_box h4.title{display:block; background:#f9f9f9; color:#000; font-size:15px; padding:12px 0 13px 0; border-bottom:1px #ddd solid; }
	#sort_box h4.title i.fa {padding:0 10px 0 10px; font-size:16px;  }
	#sort_box ul#sortable{float:left; width:96%; margin:16px 0 0 2%;}
	#sort_box ul#sortable li.off{background:#f9f9f9; height:40px; line-height:40px; font-size:12px; font-weight:normal; margin:0 0 4px 0; border:1px #ddd solid; cursor:move; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
	#sort_box ul#sortable li.on{float:left;width:32%; background:#f9f9f9; height:40px; line-height:40px; margin:0 4px 4px 4px; border:1px #ddd solid; cursor:move; }
	#sort_box ul#sortable i.fa{padding:0 8px 0 10px; font-size:13px;  font-weight:normal; !important;}
	#sort_box div.btn-group {position:absolute; right:4px; top:4px;}
	#sort_box div.btn-group button.on {background:#ebebeb;}
	#sort_box div.btn-group button.on > i.fa {color: #357ebd;}
	#sort_box div.btn-group i.fa {font-size:14px;  font-weight:normal !important; color:#d1d1d1;}

/*//////////////////////////////////////////폼필수아이콘//////////////////////////////////////////*/



/*//////////////////////////////////////////인풋,셀렉트,레이블//////////////////////////////////////////*/
	
	input,select {display:inline-block !important;} /* select box 클릭 오류로 inline 사용하면 안됨  */
	select {width:auto !important;}
	select.no100 {width:auto !important;}
	input.no100 {width:auto !important;}
	label {font-weight: normal; margin-bottom: 0px;}
	.form-control {padding:6px 8px !important;} 
/*//////////////////////////////////////////인풋,셀렉트 사이즈값없에기//////////////////////////////////////////*/






/*//////////////////////////////////////////datepicker(달력)//////////////////////////////////////////*/
.ui-datepicker-calendar th {padding-top:4px !important; }
.ui-datepicker-calendar td {padding:2px !important; }
.ui-datepicker-calendar td a{padding:6px !important; }
.ui-datepicker-title span{margin:0 5px 0 5px;}
/*//////////////////////////////////////////datepicker(달력)//////////////////////////////////////////*/



/*//////////////////////////////////////////첨부파일 디자인//////////////////////////////////////////*/
	form .file {border:1px #ccc solid; background:#f8f8f8; margin:5px 0 5px 0; padding:3px; clear:both; position:relative; }
	form .file input{border:0px #ccc solid; display:inline;}
	form .file .add{display:inline;}
	#file_box {padding:10px 0 10px 0;}
	#file_box span.move_sor {position:absolute; width:43px; height:100%; top:0px;right:0px; border-left:1px #ccc solid; background:#ddd; line-height:45px;  text-align:center; font-size:15px; color:#c2c2c2; cursor:move; }

/*//////////////////////////////////////////첨부파일 디자인 //////////////////////////////////////////*/



/*//////////////////////////////////////////페이지 카운터 //////////////////////////////////////////*/
	.pagination {margin:0px !important;}
	


	.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
		background-color: #40b25d;
		border-color: #40b25d;
		color: #ffffff;
		cursor: default;
		z-index: 2;
	}
	.pagination li a {color:#40b25d;}

/*//////////////////////////////////////////페이지 카운터 //////////////////////////////////////////*/




/*//////////////////////////////////////////페이지 카운터 //////////////////////////////////////////*/
.board_img img {padding:0 0 18px 0; }
/*//////////////////////////////////////////페이지 카운터 //////////////////////////////////////////*/

.modal-header .close {font-size:45px; top:-10px ; position:relative; }
.modal-close_btn {padding:15px 0 15px 0;  position:relative; opacity:1 !important; }
.modal-close_btn .close{opacity:1 !important; color:#fff; font-size:1.2em; float:none !important; position:relative; text-align:center !important; }
.modal-close_btn .close a:hover{background:#d9534f !important;border-color: #d43f3a;color: #ffffff;}
.modal-close_btn .close a:focus{background:#d9534f !important;border-color: #d43f3a;color: #ffffff;}
.modal-close_btn .close a{ color:#fff;}


/*//////////////////////////////////////////주요기능 모바일에서 셀렉트 메뉴로 //////////////////////////////////////////*/
.main_control_box_btn {display:none;}
.select_box_menu_parent {text-align:center;}
.main_control_box_module {display:inline; }
.select_box_menu_parent_te_app {text-align:left;}
.select_box_menu_parent_te_app .main_control_box_module .btn-sm {color:#fff;}
/*//////////////////////////////////////////주요기능 모바일에서 셀렉트 메뉴로 //////////////////////////////////////////*/



/*데스크탑 가리기*/
.desc_none{display:none !important;}

/*매뉴얼 버튼*/
.new_help_manualbox { position:absolute; right:0px; height:40px; box-sizing:border-box;    padding:0 5px 0 12px; }
.new_help_manualbox.hm_loca1 { }
.new_help_manualbox:after { content:""; display:block; clear:both; }
.new_help_manualbox p { float:left; font-weight:bold; box-sizing:border-box; position:relative; padding:0 20px 0 0; line-height:38px; height:40px; margin:0 8px 0 0; }
.new_help_manualbox p::before { content:""; display:block; width:0; height:0; border-left:16px solid #ddd; border-bottom:20px solid transparent; border-top:20px solid transparent; position:absolute; right:-2px; top:0; }
.new_help_manualbox p::after { content:""; display:block; width:0; height:0; border-left:16px solid #f9f9f9; border-bottom:20px solid transparent; border-top:20px solid transparent; position:absolute; right:-1px; top:0; }

.new_help_manualbox p i { margin:0 8px 0 0; }
.new_help_manualbox ul { float:left; }
.new_help_manualbox ul li { float:left; line-height:38px; position:relative; padding:0 10px 0 20px; }
.new_help_manualbox ul li a:hover { text-decoration:underline; }
.new_help_manualbox ul li:first-child { padding:0 10px; }
.new_help_manualbox ul li::before { content:""; display:block; width:2px; height:12px; background:#428bca; position:absolute; left:5px; top:14px; }
.new_help_manualbox ul li:first-child::before { display:none; }


/*페이지헬프 버튼*/
.help_this_contents_info {position:absolute; right:10px; top:8px;}
.help_this_contents_info i.fa{ color:#787878; font-size:1.5em;}
.help_video {position:absolute; z-index:2; width:180px; right:0px; top:32px; display:none; background:#f3f4f3; border:1px #FE3A3A solid; padding:5px; border-radius: 3px; }
.help_video span.arrow{ color:#FE3A3A; position:absolute; top:-8px; right:40px; font-size:16px; line-height:16px; }

/* text box */
span.simple_box1 { border:1px solid #CCCCCC; background: #F9F9F9; border-radius:3px; padding:0 3px; color:#666666; }
span.simple_box2 { border:1px solid #B94A48; background: #B94A48; border-radius:3px; padding:0 3px; color:#FFF; }

/*//////////////////////////////////////////고객지원 //////////////////////////////////////////*/
.faq_cont { width:97%; margin:0 auto 0;  }
.faq_cont:after { content:""; display:block; clear:both; }
.faq_cont .faq_box { float:left;width:49%; border-radius:15px; background:#fff; box-shadow:1px 2px 2px 0 rgba(0,0,0,0.1); border:1px solid #ddd; overflow:hidden; transition:all 0.4s; }
.faq_cont .fqbox1 { }
.faq_cont .fqbox2 {  float:right; margin-bottom:20px; }
.faq_cont .fqbox3 {  float:right; }
.faq_cont .fqbox2_1 { margin-bottom:20px;}
.faq_cont .fqbox2_2 { float:right; margin-bottom:20px;}
.faq_cont .fqbox2_3 { float:right; margin-bottom:20px;}
.faq_cont .fqbox2_4 { clear:both; }
.faq_cont .fqbox2_5 { float:right; }
.faq_cont .fqbox2_6 { margin:20px 0; }
.faq_cont .fqbox2_7 { clear:both; }
.faq_cont .fqbox2_8 { float:right;}
.faq_cont .fqbox2_9 { width:100%; margin:20px 0 0 0;}
.faq_cont .fqbox2_9 .fqsbox { float:left; width:50%; }
.faq_cont .fqbox2_9 .fqclear { clear:both; }
.faq_cont .faq_box .fq_title { width:100%; float:left; height:50px; line-height:50px; font-size:16px; border-bottom:1px solid #ddd; font-weight:bold; padding:0 3%; box-sizing:border-box; background:#f9f9f9;  }
.faq_cont .faq_box .up_line { border-top:1px solid #ddd; }
.faq_cont .faq_box .fq_title span { display:inline-block; padding:0 0 0 0; position:relative; }
.faq_cont .faq_box .fq_title span:before { content:""; display:block; width:106%; height:2px; background:#4791d2; position:absolute; left:-3%; bottom:0px; }
.faq_cont .faq_box ul { float:left; width:100%; box-sizing:border-box; padding:10px 3%;}
.faq_cont .fqbox1 ul { padding:12px 3%; width:50%;}
.faq_cont .fqbox2_1 ul { padding:15px 3%; }
.faq_cont .fqbox2_2 ul { padding:5px 3% 3px; }
.faq_cont .fqbox2_3 ul { padding:6px 3% 4px; }
.faq_cont .fqbox2_4 ul { padding:6px 3% 4px; }
.faq_cont .fqbox2_5 ul { padding:14px 3% 12px;}
.faq_cont .fr_fqbox ul { padding:6px 3% 4px !important; }
.faq_cont .fqbox2_6 ul { padding:6px 3% 4px;}
.faq_cont .fqbox2_7 ul { padding:14px 3% 11px;}
.faq_cont .fqbox2_8 ul { padding:5px 3% 2px;}

.faq_cont .faq_box ul.fq_right { float:right; width:50%;}

.faq_cont .faq_box ul li { line-height:30px; position:relative; margin-bottom:7px; }
.faq_cont .faq_box ul li .fq_num { display:inline-block; width:25px; height:25px; border-radius:50%; background:#f9f9f9; box-sizing:border-box; border:1px solid #d5d5d5; text-align:center; line-height:23px;  color:#777; margin:0 3px 0 0; font-size:11px; transition:all 0.4s; }
.faq_cont .faq_box ul li a:hover .fq_num {  color:#333;  }
.faq_cont .faq_box ul li:nth-child(odd) { }
.faq_cont .fqbox1 ul li { line-height:30px;}
.faq_cont .faq_box ul li a { color:#555; }
.faq_cont .faq_box ul li a:hover { font-weight:500; }
.faq_cont .faq_box ul.dotlist li { padding:0 0 0 13px; }
.faq_cont .faq_box ul.dotlist li:before { content:""; display:block; width:5px; height:5px; background:#f58313; position:absolute; left:0; top:14px; border-radius:50%; }
.faq_cont .fq_ic { display:inline-block; width:13px; height:15px; background:url(../images/help/fq_link_off.png) center center no-repeat; vertical-align:top; position:relative; margin:0 0 0 4px; top:9px; transition:all 0.4s; }

.faq_cont li a:hover .fq_ic { background:url(../images/help/fq_link.png) center center no-repeat; transform:rotate(90deg);}
.faq_cont .side_dot { display:inline-block; height:20px; width:10px; position:relative; margin:0 4px 0 0; vertical-align:top; top:7px;  }
.faq_cont .side_dot:before { content:""; display:block; width: 4px;
    height: 2px;
    background: #444444;
    border-bottom: 1px solid #d8d8d8;
    box-sizing: border-box;
    position: absolute;
    left: 3px;
    top: 8px; }

.new_fqtitle {  padding:0 0 0 47px; font-weight:bold; font-size:20px; background:url(../images/help/fq_title.png) left top no-repeat; line-height:48px; margin-top:40px;}
.new_fqtitle span { color:#634a4a; }

@media all and (max-width:1170px) {
	/*//////////////////////////////////////////고객지원 //////////////////////////////////////////*/
	.faq_cont .faq_box { float:left;width:100% !important; margin-bottom:20px; margin-top:0px !important; }
}


/* {  ////////////////////////////////////////// 테이블 내용이 넘칠 때 스크롤 생성, head 고정  ////////////////////////////////////////// */
.table-responsive-container {
	margin:0px auto;
	width:97%;
	padding:0px !important;
	overflow-x: auto;
}

.table-responsive-container table {
	width: 100%;
    border-collapse: separate !important; /* collapse 대신 separate 사용 */
    border-spacing: 0;                    /* 셀 사이 간격 제거 */

	/* 테이블의 전체 바깥 테두리 (오른쪽과 아래쪽 보정) */
    border-top: none !important;
    border-left: none !important;
    border-right: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
}
.table-responsive-container table th, .table-responsive-container table td {
     /* 모든 셀은 위쪽과 왼쪽 테두리만 가집니다 */
    border-top: 1px solid #ddd  !important;
    border-left: 1px solid #ddd  !important;
    
    /* 기존에 사방에 적용된 border: 1px solid #ddd; 가 있다면 해제해야 합니다 */
    border-right: none !important;
    border-bottom: none !important;
}

.table-responsive-container table thead th, .table-responsive-container table th {
    position: sticky;
	/* 자바스크립트가 계산해준 --sticky-top-offset 값을 사용, 없으면 0px */
	top: var(--sticky-row-top, 0px); 
    background-color: #F9F9F9; /* 배경색 필수 (없으면 아래 내용이 비쳐 보임) */
    z-index: 10;     /* 내용보다 위에 보이도록 설정 */

    border: none; /* 기존 border와 충돌 방지 */
}

/* .is-stuck { */
.table-responsive-container table thead tr.is-stuck th {
    background-color: #EEF2F7; /* 원하는 강조 색상 (예: 연한 파란색) */
}

.table-responsive-container thead tr.is-stuck:last-child th, .table-responsive-container thead tr.is-stuck:first-child th[rowspan="2"] {
    box-shadow: inset 0 0px 0 #ddd,  /* 위쪽 선(필요하면 1px) */
                inset 0 -1px 0 #ddd; /* 아래쪽 선 */
}
/* } */
/* }  ////////////////////////////////////////// */


@media all and (max-width:1024px) {

/*//////////////////////////////////////////주요기능 모바일에서 셀렉트 메뉴로 //////////////////////////////////////////*/


	#main_control_box_btn01 {width:100%;}

	.main_control_box_btn {display:inline-block;  }
	.main_control_box_module {display:none; width:100% !important; position:absolute !important; left:0px !important; top:33px; background:#f8f8f8; border:1px #cccccc solid; z-index:999999999;  overflow:hidden; }
	.main_control_box_module a{display:block; background:none; border:0px; text-shadow:none !important; text-align:left; color:#000; background:none;}
	.main_control_box_module .btn-sm{text-shadow:none !important; box-shadow:none !important; line-height:25px; border-bottom:1px #cccccc solid;}
	.main_control_box_module .btn-sm_new{text-shadow:none !important; box-shadow:none !important; line-height:25px; border:0px; border-bottom:1px #cccccc solid; width:100%; text-align:left !important; background:none; color:#000;}
	.main_control_box_module a:hover{border-radius:0px;}

	#main_control_box_search{display:none; width:100% !important; position:relative !important; left:0px !important; top:5px !important; background:none; border:0px;}
	#main_control_box_search .btn-sm{text-shadow:none !important; line-height:1.5em; }
	#main_control_box_search .select_box_menu_width{width:100% !important;}
	#main_control_box_search select{margin-bottom:5px; vertical-align:top;}
	#main_control_box_search input{margin-bottom:5px; vertical-align:top;}


	.select_box_menu_parent_te_app .main_control_box_module .btn-sm {color:#000;}
	.select_box_menu_parent_te_app .main_control_box_module .btn-sm:hover {background:none;}

	.btn-sm, .btn-xs {border-radius: 0;}

	.select_box_menu_parent {text-align:left; }


	/*//////////////////////////////////////////주요기능 모바일에서 셀렉트 메뉴로 //////////////////////////////////////////*/

	/*//////////////////////////////////////////기본정의 //////////////////////////////////////////*/
	#header {width:100%;min-width:100%; }
	#header p#logo{display:none;}
	#header h1 { text-align:center;   }
	#header h1 span {font-size:12px; }

	/*모바일 버튼메뉴*/
	.menu_btn {position:absolute;top:0px; left:0px; width:60px; height:60px;background:#497153; text-align:center;  line-height:60px; display:block; font-size:25px; color:#fff;  cursor:pointer;}


	

	/*레프트메뉴*/
	#left_menu{position:fixed; width:260px;  height:100% !important; min-height:100% !important; display:none; overflow-y:auto !important; padding-bottom:0px;  box-shadow:2px 0 10px #6c6c6c; border-right:0px #dddddd solid; -webkit-overflow-scrolling:touch; }
	#left_menu ul.parent{width:100%; min-height:0; overflow:hidden;  padding-bottom:100px;}


	/*컨텐츠틀*/
	#contents_title{width:auto;  padding-right:90px; }


	#container{min-width:100%; margin-top:60px;  }
	#contents_box{ margin:0;}
	#contents{ width:98%; margin:0px auto !important; height:100%;}
	#le_on {position:fixed; width:100%; height:100%; background:#000; display:none; z-index:2;}
	


	/*연수등록버튼*/	
	.write_yun{position:absolute;top:0px; right:0px; width:80px; height:79px;background:#f9f8f8; text-align:center; border-left:1px #ddd solid;  cursor:pointer; display:block;}
	.write_yun a {color:#555;}
	.write_yun i.fa{font-size:25px; padding:18px 0 0 0;   }
	.write_yun span.write{font-size:13px; padding:10px 0 0 0; color:#000000 important! }


	
	/*컨텐츠 감싸기*/
	.panel { border-radius:0px;}
	.mo40 {width:30%;}
	.panel-body {padding:0px 0 10px 0;}
		
	/*메인감싸기*/
	.panel_main {
	  margin-bottom: 0;
	  background-color: #f0f1f6;
	  border: 0px solid !important;
	  border-radius: 0px;
	  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
			  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}
	.panel-default_main {padding:0 0 80px 0; border-radius:0px; background:#f0f1f6; border:0px;}
	.panel-default_main > .panel-heading {background:#f9f9f9; color:#767676; font-size:12px; font-weight:bold; margin:0 0 10px 0;  display:none;}
	.panel-search_main {margin:0 auto; display:block;  width:97%; padding:15px 5px 15px 5px; background:#f8f8f8; border:1px #dddddd solid;  vertical-align:top;}

	.panel-default_main1 {padding:0 0 20px 0; border-radius:0px; background:#f0f1f6; border:0px;}
	.panel-default_main1 > .panel-heading {background:none; color:#767676; font-size:12px; font-weight:bold; margin:0 0 0 0; border:0px; }

	/* padding-bottom : 일부 레이어 띄우는 페이지에서 아래 공백이 필요 함 */
	.table-responsive {background:#f8f8f8; width:96%; margin:0 auto; border:0px; padding-bottom:100px; }
	.M_PAB0 { padding-bottom:5px; }
	
	/*모바일에서 가리기*/
	.mobile_none{display:none !important;}

	/*데스크탑 가리기*/
	.desc_none{display:block !important; color:#6b5db7;}


	/*연수목록 테이블 */
	table.table{font-size:1.0em !important;}
	table.table th{border-bottom:1px #ddd solid !important;}

	table.sm_table {border:0px #ddd solid; margin-top:0px !important;} 
	table.sm_table td{font-size:1.0em !important;} 

	.mobile_tr {height:75px; position:relative; border:1px #e7e7e7 solid !important; background:#fff; border-radius:5px !important; }
	.sm_table td,tr,th{border:0px !important;}
	.sm_table td{clear:both; position:absolute; width:95%;}
	.sm_table td .span01{position:absolute; left:7px; top:13px; color:#000; font-weight:bold; z-index:0;}
	.sm_table td .span02{position:absolute; left:60px; top:13px; z-index:0;}
	.sm_table td .span03{position:absolute; left:0;  top:0; height:75px;padding:0 0 0 8px; width:95%; z-index:1; line-height:115px;overflow: hidden;  text-overflow:ellipsis; white-space:nowrap; }
	.sm_table td .span03 a{display:inline-block; height:75px;  overflow: hidden;  width:100%; overflow: hidden;  text-overflow:ellipsis; white-space:nowrap;}
	.sm_table td .span03 a:hover{cursor:pointer;}
	.sm_table td .span04{position:relative; float:right; top:5px; z-index:99999;}
	
	.isu_choice {top:-94px;}
	.teacher_isu {top:-88px; padding:12px 0 12px 0;}

	
	/*연수목록 테이블 모바일때 tr간격주기위해 만듬*/
	.line {height:10px; display:block;}
	

	.mobile100 {clear:both !important; display:inline !important;  width:80% !important;}


	/*로딩바*/
	.ajaxLoading{left:0px;}


	/*모바일에서 체크박스 라디오크기*/
	table.table input[type="checkbox"],input[type="radio"] {margin:-1px 4px 0 0 !important; vertical-align:middle; width:17px; height:17px; }
	
	/*모바일 셀렉트 인풋 간격조절*/
	input, select {margin:0 0 2px 0; }
	
	/*모바일 한줄떨구기*/
	.mobile_clear{clear:both; width:100%; float:left; }
	
	.mobile_clear span {clear:both; width:100%; float:left; margin:0 0 5px 0; }

	/*관리자 기본설정에 라디오박스 글자크기*/
	.mobile_small_radio{font-size:9px; letter-spacing:-1px;}

	/*기관정보수정 보더 안보이는 버그*/
	.borderright{ border-right:1px #dddddd solid !important;}

	/*첨부파일 소트 레이어*/
	form#fm_edit .file{ width:100%;}

	/*메인롤오버 모바일에서 빼기*/
	.table-hover_sm > tbody > tr:hover > td,.table-hover_sm > tbody > tr:hover > th {background:none !important;}




	/*//////////////////////////////////////////기본정의 //////////////////////////////////////////*/


	#main_popup {min-width:100% !important; }
	#main_popup ul{float:left; min-height:0%; padding:10px 0 60px 0;}
	#main_popup ul li a span.list{width:45%;  }
	#main_popup p.close_btn{width:50%; text-align:center; }
	#main_popup p.close_btn a i.fa {float:right; margin:0px; padding:0 15px 0 15px; }
	
	#main_popup p.more{ width:50%;left:0px;}

	/*//////////////////////////////////////////모바일 인풋사이즈//////////////////////////////////////////*/
	.size10{width:10% !important;}
	.size15{width:15% !important;}
	.size16{width:16% !important;}
	.size17{width:17% !important;}
	.size18{width:18% !important;}
	.size19{width:19% !important;}
	.size21{width:21% !important;}
	.size22{width:22% !important;}
	.size23{width:23% !important;}
	.size25{width:25% !important;}
	.size26{width:26% !important;}
	.size27{width:27% !important;}
	.size28{width:28% !important;}
	.size30{width:30% !important;}
	.size35{width:35% !important;}
	.size40{width:40% !important;}
	.size43{width:43% !important;}
	.size45{width:45% !important;}
	.size493{width:49.3% !important;}
	.size50{width:50% !important;}
	.size55{width:55% !important;}
	.size60{width:60% !important;}
	.size61{width:61% !important;}
	.size63{width:63% !important;}
	.size65{width:65% !important;}
	.size66{width:66% !important;}
	.size70{width:70% !important;}
	.size80{width:80% !important;}
	.size90{width:90% !important;}
	.size100{width:100% !important;}
	/*//////////////////////////////////////////모바일 인풋사이즈 //////////////////////////////////////////*/

	/*모달위치*/
	/*
	.modal-dialog{margin-top:30% !important;}
	*/
	.modal-header .close {font-size:55px; top:-10px ; position:relative; }

	
	/*공지팝업*/
	#notice_modal .modal-dialog .modal-content h3 { height:100px; padding:10% 0 0 53%; background-size:40%; color:#fff; font-size:20px;}

	
	/*페이지헬프 버튼*/
	.help_this_contents_info { position:static; display:block; text-align:right; margin:10px 0 0;}

	/*매뉴얼 버튼*/
	.new_help_manualbox { position:static; height:auto; background:#fff; box-sizing:border-box; border-left:1px solid #ddd; border-right:1px solid #ddd;  padding:0 5px 0 12px; margin-bottom:15px; }
	.new_help_manualbox:after { content:""; display:block; clear:both; }
	.new_help_manualbox p { float:left; margin:0 0 0 0; padding:0 0 0 0; text-align:center; width:100%; box-sizing:border-box; }
	.new_help_manualbox p::before { display:none; }
	.new_help_manualbox p::after { display:none; }
	.new_help_manualbox p i { margin:0 8px 0 0; }
	.new_help_manualbox ul { float:left; width:100%; text-align:center; display:none; border-top:1px dashed #ddd;}
	.new_help_manualbox ul.mn_none { display:block; }
	.new_help_manualbox ul li { float:none; display:inline-block; vertical-align:top; line-height:38px; position:relative; padding:0 10px 0 20px; }
}


/*
@media all and (max-width:360px) {
	#sort_box ul#sortable li.on{float:left;width:47%; background:#f9f9f9; height:40px; line-height:40px; margin:0 4px 4px 4px; border:1px #ddd solid; cursor:move; }
}
*/

@media all and (max-width:780px) {
	.faq_cont .fqbox2_9 .fqsbox { float:left; width:100%; }
	.faq_cont .fqbox2_9 .fqsbox:nth-child(2) .fq_title { border-top:1px solid #ddd; }	
}

@media all and (max-width:479px) {
	
	/*//////////////////////////////////////////페이지 카운터 //////////////////////////////////////////*/
	.pagination {clear:both; margin:20px 0px 0px !important; }
	
	/*교직원관리 페이지카운터 센터*/
	.MAlignCenter {text-align:center !important;}
	
	/*고객지원*/
	.faq_cont .fqbox1 ul { padding:12px 3%; width:100% !important; float:left !important; }
	.faq_cont .fqbox1 .fq_title + ul { padding:12px 3% 0; } 
	.faq_cont .fqbox1 .fq_title + ul + ul:nth-child(2) { padding:0px 3% 12px; } 
}

@media all and (max-width:640px) {
	/*출력순서*/
	#sort_box ul#sortable li.on{float:left;width:47%; background:#f9f9f9; height:40px; line-height:40px; margin:0 4px 4px 4px; border:1px #ddd solid; cursor:move; }
	
	#sort_box ul#sortable{ width:80%; margin:16px 0 0 10%;}
}

/* { 편집기로 작성된 내용 보기 */
.contents_editor {
	color: #333333 !important;
}
.contents_editor p {
	padding: 10px;
}
.contents_editor div.board_img {
	 box-shadow:none !important; border:0 none !important; border-radius:0 !important;
}
.contents_editor ul, .contents_editor ol, .contents_editor li, .contents_editor dl, .contents_editor dt, .contents_editor dd {
	margin-left: 25px; 
	padding: 1px 0px;
	list-style:initial;
}
.contents_editor ol li {
	list-style:decimal;
}
.contents_editor a, .contents_editor a:hover, .contents_editor a:active, .contents_editor a:visited, .contents_editor a:focus {
	text-decoration:underline;
	color:#0782C1;
}

/* { contents_editor 251112*/
td.contents_editor { padding:30px 25px !important; font-family:initial; } /*편집기 컨텐츠 나오는 td클래스*/
td.contents_editor hr { border: none; height: 5px; background: rgb(229, 231, 235); margin: 2rem 0px; box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;  }

td.contents_editor h1 { border-bottom: 2px solid #e5e7eb; color: #111827; font-weight: 700; font-size:24px; border-radius:5px; box-sizing:border-box; padding:0 5px; line-height:34px; margin:0 0 0px; }
td.contents_editor h2 { border-bottom: 1px solid #e5e7eb; color: #c0392b; font-weight: 600; font-size:20px; border-radius:5px; box-sizing:border-box; padding:0 5px; line-height:30px; margin:25px 0 10px; }
td.contents_editor h3 {  color: #c0392b; font-weight: 600; font-size:19px; border-radius:5px; box-sizing:border-box; padding:0 5px 0 6px; line-height:27px; margin:20px 0 15px; }
td.contents_editor h3 strong { color: #111827 !important; }
td.contents_editor h4 {  color: #111827; font-weight: 600; font-size:17px; border-radius:5px; box-sizing:border-box; padding:0 5px 0 6px; line-height:26px; margin:10px 0 10px; }

td.contents_editor ul { list-style-type:none; padding:0 0 0 0; margin:15px 0 15px; }
td.contents_editor ul li { margin:8px 0; padding:0 0 0 44px; position:relative; line-height:27px; font-size:15px; color:#111827; list-style-type:none;}
td.contents_editor ul li::marker { display:none !important; }
td.contents_editor ul li::before { content:""; display:block; width:5px; height:5px; border-radius:50%; background:#4b5563; position:absolute; left:27px; top:12px; }
td.contents_editor ul li a { color:#2563eb; }
td.contents_editor ul li strong { color:#222; font-weight:bold; }
code { font-family:inherit; background-color: #fff9c4; color: #5d4037; border-bottom: 2px solid #fbc02d; padding: 3px 5px; font-weight:bold; border-radius: 4px; font-size:1.0em; }
	 
td.contents_editor ul ul { background-color: rgba(243, 244, 246, 0.5); border-radius:8px; padding:10px 6px; box-sizing:border-box; margin:10px 0; }
td.contents_editor ul ul li { margin:3px 0; padding:0 0 0 21px;  font-size:15px; color:#333; }
td.contents_editor ul ul li::before { content:""; display:block; width:6px; height:6px; border-radius:50%; border:1px solid #4b5563; box-sizing:border-box; background:#fff; position:absolute; left:5px; top:12px; }

td.contents_editor ul ul ul { background-color: rgba(229, 231, 235, 0.7); }
td.contents_editor ul ul ul li { }
td.contents_editor ul ul ul li::before { width:5px; height:5px; border-radius:50%; background:#4b5563; border:0 none; }

td.contents_editor ol { list-style-type: decimal; padding:0 0 0 40px; margin:15px 0 15px; }
td.contents_editor ol li { margin:5px 0; padding:0 0 0 0px; position:relative; line-height:27px; font-size:15px; color:#111827; padding-left:5px; }
td.contents_editor ol li::marker { color: #4b5563; font-weight: 500; font-size:13px; }

td.contents_editor ol ul { background-color: rgba(243, 244, 246, 0.5); border-radius:8px; padding:10px 6px; box-sizing:border-box; margin:10px 0; }
td.contents_editor ol ul li { margin:6px 0; padding:0 0 0 21px;  font-size:15px; color:#333; }
td.contents_editor ol ul li::before {  left:5px; top:12px;}

td.contents_editor p { line-height:27px; font-size:15px; color:#333; margin:6px 0; padding:0 5px; }
td.contents_editor h1 + p { margin-top:12px; }
td.contents_editor img { max-width: 100% !important; height: auto !important; border-radius: 0.5rem !important; margin: 15px 0 35px!important; display: block !important; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06) !important; }
td.contents_editor h2 + p img { margin-top:30px !important; }

td.contents_editor li img { padding:0 !important; }
td.contents_editor p img { padding:0 !important; }
td.contents_editor blockquote { background-color: #FFEDD4 !important; font-style: italic; margin:10px 0 10px 5px; box-sizing:border-box; padding:6px 10px; border-radius:10px; border-left: 4px solid #d1d5db; color: #6b7280; box-shadow: 0 1px 2px rgba(0, 0, 0, .06);}
td.contents_editor blockquote p { color: #6b7280; font-weight:400; }
td.contents_editor blockquote strong { color: #111827 !important; font-family: inherit !important; }
td.contents_editor blockquote ul li { padding:0 0 0 27px; }
td.contents_editor blockquote ul li::before {  left:15px; top:12px; }
td.contents_editor blockquote ol { padding:0 0 0 27px; }

td.contents_editor div { width: 100% !important; overflow-x: auto !important; margin: 15px 0 !important; border-radius: 10px !important; border: 1px solid #e5e7eb !important; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important; background: white !important; }
td.contents_editor table { width: 100% !important; min-width: 100% !important; border-collapse: collapse !important; margin:15px 0; table-layout: auto !important; border-radius: 0.75rem !important; display: table !important; border: 1px solid #d1d5db; font-size:15px; line-height:25px; }

td.contents_editor div table { margin: 0; border:0 none; overflow:hidden; }

td.contents_editor table th { background-color: #f8fafc !important; font-weight: 600 !important; position: sticky !important; top: 0 !important; z-index: 10 !important; color: #475569 !important; text-align:left; padding:10px 15px !important; border-bottom:1px solid #e5e7eb; }
td.contents_editor table td { padding:10px 15px !important; border: 1px solid #e5e7eb !important; color: #111827; vertical-align:top !important;}
td.contents_editor table tbody tr { background:#fff; }
td.contents_editor table tbody tr:nth-child(even) { background-color: #f8fafc !important; }
td.contents_editor table tbody tr:hover { background-color: #f1f5f9 !important; transition: background-color 0.15s ease-in-out !important; }
/* } */